h1, h2, h3, p, a {
	color: lightgrey;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

li .not-selected {
    color: yellow;
}

li .selected {
    color: orange;
}

li .correct {
    color: lightgreen;
}