body {
	background-color: ghostwhite;
	font-family: 'Dosis', sans-serif;
}

.intro {
	font-size: 40px;
	text-align: center;
	margin-top: 10%;
}

.subsites {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	td {
		width: 300px;
		padding: 50px;
		text-align: center;
	}
	h1, a {
		font-size: 150%;
		text-shadow: 0 0 40px black;
		color: transparent;
		transition: all 0.5s ease;
		&:hover {
			text-shadow: none;
			color: navy;
			transition: all 0.5s ease;
		}
	}
}

.about {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 50px;
	&::before {
		content: '?';
		width: 50px;
		height: 50px;
		font-size: 40px;
		text-align: center;
		position: absolute;
		transform: translateX(-50%);
	}
	.bio {
		visibility: hidden;
	}
	&:hover {
		&::before {
			visibility: hidden;
		}
		.bio {
			visibility: visible;
		}
	}
	a {
		font-family: 'Caveat', cursive;
		font-size: 120%;
	}
}